<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
</head>
<body style="background: url('{{ app.request.basepath }}/img/apoio_background.png')">
	{% include 'top.block.html.twig' %}
	<div id="conversation-list" class="well container">
        <div class="row page-nav-header">
            <div class="span4">
                <h3>{{ type|capitalize }} <small style="font-size: 18">{{ totalCount }} conversations</small></h3>
            </div>
            <div class="span1 offset7">
				{% if type == "archive" %}
					<a href="/">inbox</a>
				{% else %}
					<a href="/archive">archive</a>
				{% endif %}

            </div>
        </div>
		{% for item in items %}
			<div class="row conversation">
				<div class="span6 description">
                    <div class="title">
                        <a href="/conversation/{{ item.getId()}}">
                            {% if item.getSubject != '' %}
                                {{ item.getSubject() }}
                            {% else %}
                                {{ item.getAbstract() }}
                            {% endif %}
                        </a>
                    </div>
                    {% if item.getSubject != '' %}
                        <div class="body muted">
                            {{ item.getAbstract() }}
                        </div>
                    {% endif %}
                    {% if item.hasBeenRead() %}
                        <span class="read"></span>
                    {% else %}
                        <span class="unread"></span>
                    {% endif %}
                </div>
                <div class="span1 offset1">
                    {% if item.getAssignedUser() is not null %}
                        <a href="#" data-toggle="tooltip" title="Assigned to {{ item.getAssignedTo() }}">
                            <div class="circular" style="background: url({{ item.getAssignedToAvatar()|raw }}); background-size: 50px 50px;"></div>
                        </a>
                    {% endif %}
                </div>
                <div class="span2 offset1">
                    {{ item.getRealOwner() }}
                    <br>
                    <small class="muted">{{ item.getPastString() }}</small>
                </div>
			</div>

		{% else %}
			Placeholder for empty list
		{% endfor %}
		<div class="animation_image" style="display:none" align="center">
			<img src="{{ app.request.basepath }}/img/ajax-loader.gif">
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){

			var track_load = 1;
			var loading  = false;
			var total_groups = {{ pageCount }};
            var pageType = "{{ type }}.json";
            var search = '';
            {% if search is defined %}
                search = "{{ search }}";
            {% endif %}

			$(window).scroll(function() {

				if($(window).scrollTop() + $(window).height() == $(document).height())
				{
					if(track_load < total_groups && loading==false)
					{
						loading = true;
						$('.animation_image').show();
						track_load++;

						$.ajax({
							type: 'POST',
							url: '/ajax/inbox',
							data:{
								page:track_load,
                                type: pageType,
                                search: search
							},
							dataType: 'json',
							success: function(result){
								if (result['status'] == 'ok')
								{
									$('.animation_image').hide();
									var loader = $("div.animation_image");
									$("div.animation_image").remove();

									$.each(result['list-item'], function(k, v) {
										$("#conversation-list").append(v);
									});

									$("#conversation-list").append(loader);


									track_load++;
									loading = false;
								}
								else
								{

								}
							}
						});
					}
				}
			});

            $('#conversation-list').on("click", ".description", function(){
                var url = $(this).find('.title a').attr('href');
                window.location.href = url;
            });
		});
	</script>
</body>
</html>