<html>
<head>
	<link rel="shortcut icon" href="{{ app.request.basepath }}/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
	<script src="{{ app.request.basepath }}/js/common.js"></script>
</head>
<body style="background: url('{{ app.request.basepath }}/img/apoio_background.png')">
	{% include 'top.block.html.twig' %}
	<div id="conversation-list" class="well container main">


		<div class="row page-nav-header">
			<div class="span12 text-center">
				<h4>Najczęstsze rozwiązania najpopularniejszych problemów</h4>
			</div>

			<div class="span12">

				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
								Źle przeliczone gwiazdki
							</a>
						</div>
						<div id="collapse1" class="accordion-body collapse">
							<div class="accordion-inner">
								Wejście w edycje, zmiana czegokolwiek i zapisanie zmian.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
								Źle przeliczony profile completeness
							</a>
						</div>
						<div id="collapse2" class="accordion-body collapse">
							<div class="accordion-inner">
								Wejście w edycje, zmiana czegokolwiek i zapisanie zmian.
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
								Refresh URL
							</a>
						</div>
						<div id="collapse3" class="accordion-body collapse">
							<div class="accordion-inner">
								Wejście w edycje, zmiana czegokolwiek i zapisanie zmian.
							</div>
						</div>
					</div>

					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
								Informacje na temat użytkownika/maila.
							</a>
						</div>
						<div id="collapse4" class="accordion-body collapse">
							<div class="accordion-inner">
								<a href="https://www.znanylekarz.pl/moderacja/narzedzia/uzytkownik" target="_blank">https://www.znanylekarz.pl/moderacja/narzedzia/uzytkownik</a>
							</div>
						</div>
					</div>

					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
								Na serczu lokalizacyjnym profil wyświetla się źle na mapie
							</a>
						</div>
						<div id="collapse5" class="accordion-body collapse">
							<div class="accordion-inner">
								Edycja -> edit address position on map
							</div>
						</div>
					</div>

					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
								Czy sms wyszedł
							</a>
						</div>
						<div id="collapse6" class="accordion-body collapse">
							<div class="accordion-inner">
								W całej historii odnotowaliśmy może 2 przypadki kiedy sms nie wyszedł (nie z naszej winy). Jeśli nie wierzysz, Iza Ci pokaże jeśli podasz numer telefonu
							</div>
						</div>
					</div>

					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse7">
								Kalendarz na searchu jest nieaktualny
							</a>
						</div>
						<div id="collapse7" class="accordion-body collapse">
							<div class="accordion-inner">
								Wejście w edycje, zmiana czegokolwiek i zapisanie zmian.
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="row page-nav-header">
            <div class="span4">
                <h3>{% if myTickets %}My tickets {% elseif search %}Search {% else %}All tickets {% endif %}<span class="sub-header">{{ helper.getTotalCount() }} conversations</span></h3>
            </div>
            <div class="span2 offset6" style="font-size: 13px; color: rgb(153, 153, 153); position: relative; top: 20px;">
				{% if myTickets %}
					<span>my tickets</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/all-tickets">all tickets</a>
				{% elseif search %}
                    <a href="/my-tickets">my tickets</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/all-tickets">all tickets</a>
                {% else %}
					<a href="/my-tickets">my tickets</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span>all tickets</span>
				{% endif %}
            </div>
        </div>
		{% for item in helper.getList() %}
			{% include 'list-item.block.html.twig' %}
		{% else %}
			{#Placeholder for empty list#}
		{% endfor %}
		<div class="animation_image" style="display:none" align="center">
			<img src="{{ app.request.basepath }}/img/ajax-loader.gif">
		</div>
	</div>

	<script type="text/javascript">

        var track_load = 1;
        var inbox_track_load = 1;
        var archive_track_load = 0;
        var search_track_load = 1;
        var loading  = false;
        var inboxCount = {{ helper.inboxCount() }};
        var archiveCount = {{ helper.archiveCount() }};
        var searchCount = {{ helper.searchCount() }};
        var total_groups = inboxCount + archiveCount;

        var search = '';
        {% if search is defined %}
            search = "{{ search }}";
        {% endif %}

		$(document).ready(function(){

            if ($(window).height() > $('div.main').height())
            {
                _sendAjax();
            }
			$(window).scroll(function() {

				if($(window).scrollTop() + $(window).height() == $(document).height())
				{
                    _sendAjax();
				}
			});

            $('#conversation-list').on("click", ".description", function(){
                var url = $(this).find('.title a').attr('href');
                window.location.href = url;
            });
		});

        function _sendAjax()
        {
            if(track_load < total_groups && loading==false)
            {
                loading = true;
                $('.animation_image').show();
                track_load++;

                var tmp_track_load = track_load;

                if (search)
                {
                    search_track_load++;
                    tmp_track_load = search_track_load;
                }
                else if (inbox_track_load < inboxCount)
                {
                    pageType = "inbox";
                    inbox_track_load++;
                    tmp_track_load = inbox_track_load;
                }
                else if (archive_track_load < archiveCount)
                {
                    pageType = "archive";
                    archive_track_load++;
                    tmp_track_load = archive_track_load;
                }

                $.ajax({
                    type: 'POST',
                    url: '/ajax/inbox',
                    data:{
                        page: tmp_track_load,
                        type: pageType,
                        search: search
                    },
                    dataType: 'json',
                    success: function(result){
                        if (result['status'] == 'ok')
                        {
                            $('.animation_image').hide();
                            var loader = $("div.animation_image");
                            $("div.animation_image").remove();

                            $.each(result['list-item'], function(k, v) {
                                $("#conversation-list").append(v);
                            });

                            $("#conversation-list").append(loader);


//									track_load++;
                            loading = false;
                        }
                        else
                        {

                        }
                    }
                });
            }
        }
	</script>
</body>
</html>