<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
	<style>
		.conversation {
			/*min-height: 60px;*/
			/*margin-left: 15px;*/
            height: 65px;
            border-bottom: 1px solid #f2f2f2;
            padding: 20px 0px;
            margin-left: 0px;
		}

        .conversation:hover {
            border-color: #cccccc;
            border-width: 1px;
            border-style: solid;
            background-color: #ecf1f3;
            margin: 0px -20px;
            padding-left: 19px;
        }

        #conversation-list {
            background-color: #ffffff;
        }

        .top {
            margin-top: 20px;
        }
        #search {
            width: 300px;
            height: 30px;
        }

        .user-image {
            /*width: 30px;*/
            height: 30px;
        }

        .name {
            font-size: 15px;
        }

        .name .caret {
            vertical-align: middle;
        }

        .page-nav-header {
            padding-bottom: 10px;
        }

        .title {
            font-size: 17px;
        }

        .body {
            font-size: 14px;
        }

        .description {
            cursor: hand;
        }

        .title a:hover {
            text-decoration: none;
        }

        .btn-round {
            border-radius:2em;
        }

		.animation_image {
			padding-top: 20px;
		}

	</style>
</head>
<body style="background: url('{{ app.request.basepath }}/img/apoio_background.png')">
	<div class="top container">
        <div id="nav" class="row">
            <div class="span4">
                {#<form action="/search" class="form-search" method="GET">#}
                    {#<input type="text" id="search" class="search-query" name="q" placeholder="wyszukaj cos">#}
                {#</form>#}
            </div>
            <div class="span2 offset3">
                <form action="MAILTO:front.office@docplanner.com" method="post" enctype="text/plain">
                    <button class="btn btn-primary btn-round" type="submit">Compose</button>
                </form>
            </div>
            <div class="span3">
                <img class="user-image" src="{{ gravatar.get(user_email)|raw }}" class="img-circle">
                <div id="user-menu" class="btn-group">

                    <a class="dropdown-toggle muted" role="button" data-toggle="dropdown" href="#">
                        <span class="name">{{ display_name }}<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
	<div id="conversation-list" class="well container">
        <div class="row page-nav-header">
            <div class="span3">
                <h3>Inbox <small style="font-size: 18">{{ items|length }} conversations</small></h3>

            </div>
            <div class="span1 offset8">
                archive
            </div>
        </div>
		{% for item in items %}
			<div class="row conversation">
				<div class="span6 description">
                    <div class="title">
                        <a href="/conversation/{{ item.getId()}}">
                            {% if item.getSubject != '' %}
                                {{ item.getSubject() }}
                            {% else %}
                                {{ item.getAbstract() }}
                            {% endif %}
                        </a>
                    </div>
                    {% if item.getSubject != '' %}
                        <div class="body muted">
                            {{ item.getAbstract() }}
                        </div>
                    {% endif %}
                </div>
                <div class="span2">
                    {% if item.getAssignedUser() is not null %}
                        {{ item.getAssignedTo() }}
                    {% endif %}
                </div>
                <div class="span2">
                    {{ item.getAuthor() }}
                    <br>
                    <small class="muted">{{ item.getPastString() }}</small>
                </div>
			</div>
            {#<hr>#}

		{% else %}
			Placeholder for empty list
		{% endfor %}
		<div class="animation_image" style="display:none" align="center">
			<img src="{{ app.request.basepath }}/img/ajax-loader.gif">
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
//			$('.form-search').keypress(function(event) {
//				if (event.which == 13) {
//					event.preventDefault();
//					$(this).submit();
//				}
//			});



			var track_load = 1;
			var loading  = false; //to prevents multipal ajax loads
			var total_groups = 4;



			$(window).scroll(function() {

				if($(window).scrollTop() + $(window).height() == $(document).height())
				{
					if(track_load <= total_groups && loading==false)
					{
						loading = true;
						$('.animation_image').show();


						$.ajax({
							type: 'POST',
							url: '/ajax/inbox',
							data:{
								page:track_load
							},
							dataType: 'json',
							success: function(result){
								console.log(result);
								if (result['status'] == 'ok')
								{
									$('.animation_image').hide();
									var loader = $("div.animation_image");
									$("div.animation_image").remove();

									$.each(result['list-item'], function(k, v) {
										$("#conversation-list").append(v);
									});

									$("#conversation-list").append(loader);


									track_load++;
									loading = false;
								}
								else
								{

								}
							}
						});
					}
				}
			});
		});
	</script>
</body>
</html>